[Unit]
Description=Home Cloud Server
After=network.target

[Service]
Type=simple
User=ChenRunsen
WorkingDirectory=/home/ChenRunsen/Home-Cloud-Server
Environment=FLASK_APP=main.py
Environment=FLASK_ENV=production
ExecStart=/usr/bin/python3 main.py
Restart=always

[Install]
WantedBy=multi-user.target 